[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Andrés Urraca
	email = andres.urraca@autentia.com
[alias]
	lg = log --oneline --graph --all
	c = commit -m
	ch = checkout
	a = add
	p = pull
	d = push
	f = fetch	
[init]
	defaultBranch = master
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
