[user]
	name = Andrés Urraca
	email = reiler222@gmail.com
[alias]
	lg = log --oneline --graph --all
	c = commit -m
	ch = checkout
	a = add
	p = pull
	d = push
	f = fetch	
[init]
	defaultBranch = master
